.game{

width: 255px;
text-align: center;
font-family: system-ui;
color: white;
margin: auto;
 font-weight: bold;

}
.title{
background-color: #f25;
padding: 5px 0;
margin: 5px 0;

font-weight: bold;




}
span{ 

	color: rgb(237, 170, 37);
	font-weight: bold;
}
.square{

width: 80px;
height: 80px;
background-color: #f25;
float: left;
margin: 2px;
font-size: 50px;

}
.square:hover{

background-color: black;
cursor: pointer;


}